.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

@media screen and (max-width: 760px) {
    .container {
        justify-content: center;
    }
}