@import '../common/styles/sass/variables.scss';

.aboutBlock {
	min-height: 45vh;
	background-color: $bgColor;
	display: flex;
	flex-direction: column;
	font-family: $fontFamily;
	.container {
		@media screen and (max-width: 1110px) {
			flex-direction: column;
			margin-bottom: 35px;
		}
		.aboutDescription {
			max-width: 600px;
			font-size: 38px;
			color: $textColor;

			@media screen and (max-width: 1010px) {
				display: flex;
				flex-direction: column;
			}
			.fullNameColor {
				color: $primaryColor;
				font-weight: bold;
			}
			.textAbout {
				color: $textSeconfColor;
				font-size: 15px;
			}
		}
		.aboutInfo {
			color: $textSeconfColor;
			font-size: 15px;
			@media screen and (max-width: 1110px) {
				margin-top: 35px;
			}
			.separator {
				height: 1px;
				width: 250px;
				background-color: rgb(214, 214, 214);
				margin: 5px 0px 5px 0;
			}

			.button {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.cv {
				background-color: $primaryColor;
				height: 50px;
				width: 200px;
				margin-top: 13px;
				border-radius: 30px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				cursor: pointer;
				transition: 0.3s;
			}

			.cv:hover {
				background-color: rgb(19, 168, 119);
				transition: 0.3s;
				box-shadow: 10px 10px 10px rgb(214, 214, 214);
			}
		}

		.aboutInfo a {
			color: $primaryColor;
		}

		.aboutInfo p {
			margin: 0;
		}
	}
}

.aboutDescription h2 {
	margin-top: 0;
}
