.skillsBlock {
    height: 100vh;
    background-color: #ddfee9;
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: azure;
}

.skills {
    flex-wrap: wrap;
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

