.mainBlock {
    height: 100vh;
    background-color: #ffdee9;
}

.text {
    width: 300px;
    background-color: azure;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #80a7f6;
}

