@import '../common/styles/sass/variables.scss';


.mainBlock {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-size: cover;
  background-position: center;
  user-select: none;
}

.mainBlock::before {
  position: absolute;
  content: "";
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.text {
  text-align: center;
  font-family: $fontFamily;
  color: #fff;
  margin: 200px;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1;
}

.container {
  display: flex;
  justify-content: center;
}

.colorFullName {
  color: $primaryColor;
}