@import './variables.scss';


@mixin text($fontFamily, $fontSize, $fontWeight, $color) {
     font-family: $fontFamily;
     font-size: $fontSize;
     font-weight: $fontWeight;
     color: $color;
}

@mixin filled($filled) {
     width: $filled;
}