@import '../common/styles/sass/variables.scss';

.footerBlock {
    min-height: 15vh;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    font-family: $fontFamily;

    .container {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 522px) {
            margin-top: 25px;
            display: block;
        }

        .icons {
            @media screen and (max-width: 522px) {
                margin-top: 25px;
                margin-bottom: 25px;
            }
            .icon {
                margin: 0 15px 0px 15px;
                width: 37px;
        
            }
        }
    }



    
}